body{
    margin-top: 70px;
    margin-bottom: 70px;
}
/*.article{*/
    /*z-index: 100;*/
/*}*/
/*.article:hover{*/
    /*text-decoration:none;*/
/*}*/
/*.article-time{*/
    /*float: right;*/
/*}*/

.register{
    padding: 20px;
    border-radius: 10px;
}
.toolbar {
    border: 1px solid #ccc;
    background: #fff;
}
.text {
    border: 1px solid #ccc;
    background: #fff;
    height: 300px;
}


.index-row{
    margin: 10px 0;
    background: #f9f9f99c;
    border: 1px solid #dbf0f5;
    border-radius: 4px;
    padding: 10px 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.gesture:hover{
    cursor: pointer;
}
.text-omit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #717171;
}
.index-a{
    z-index: 100;
    display: table;
}
.index-a:hover{
    text-decoration:none;
}
.msg-img{
    width: 68px;
    height: 62px;
}
.msg-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #505050;
}
.msg-time{
    float: right;
    color: #505050;
    font-size: 0.4rem;
}
.msg-author{
    display: block;
    color: #656464;
}

/*评论的css*/
.button-top{
    margin-top: 5px;
}
.allComment{
    padding: 10px;
    border: 1px solid pink;
    border-radius: 5px;
}
.oneComment{
    background: #f9f6f6;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
}
.date{
    float: right;
    font-size: 0.5rem;
}