<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A small forum web</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mine.css">
</head>
<body>

<!--头开始-->
<div ng-include="'tem/header.html'"></div>
<!--头结束-->

<!--身体开始-->
<div class="container" ng-controller="myForumCtrl">
    <div class="row" >
        <div class="col-xs-12 col-md-8 col-md-offset-2" ng-repeat="n in myMsg">
            <div class="media index-row gesture" ng-click="enter(this,$event)">
                <div class="media-left">
                    <img class="media-object msg-img" ng-src="img/headImg/{{n.headImg}}" alt="">
                </div>
                <div class="media-body">
                    <span class="media-heading msg-title">{{n.header}}</span>
                    <span class="msg-time">{{n.time}}</span>
                    <span class="msg-author">作者：{{n.name}}</span>
                    <div class="text-omit" style="float: left;width: 60%;">
                        简介：{{n.description}}
                    </div>
                    <div style="float: right;">
                        <button class="btn btn-xs btn-default" ng-click="modify(this,$event)">修改</button>
                        <button class="btn btn-xs btn-default" ng-click="delOne(this,$event)" >删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div style="text-align: center">
                <button class="btn btn-info" ng-click="getMore()" ng-disabled="isLoading" ng-if="hasMore">
                    <span ng-show="!isLoading">加载更多</span>
                    <span ng-show="isLoading">加载中</span>
                </button>
                <div ng-if="!hasMore" class="alert alert-danger" style="margin-top: 5px;">无更多数据可以加载</div>
            </div>
        </div>
    </div>
</div>
<!--身体结束-->



</body>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/angular.js"></script>
<script src="js/mine.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/mine.js"></script>
</html>